<h1>Product List</h1>
<br>
<a class="btn btn-primary" href='/add'>Add a Product</a>
<br>
<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <ul>
  {{#each products}}
    <tr>
      <td>{{this.productName}}</td>
      <td>{{this.description}}</td>
      <td class="text-right"><a class="btn btn-info btn-sm"  href="/edit/{{ this.id }}">Edit</a> <a class="btn btn-warning btn-sm" href="/delete/{{ this.id }}">Delete</a></td>
    </tr>
  {{/each}}
</ul>
</table>